/*  your css code here. If applicable */
.btn{
	padding: 12px 20px;
	margin-right: 8px;
	border: 0px;
	border-radius: 3px;
	box-shadow: 4px 4px;
	user-select: none;
}

.btn:active{
	box-shadow: 0px 0px 0;
	transform: translateX(4px) translateY(4px);
}